.grid {
    display: grid;
    grid-template-columns: 200px 400px auto;
    grid-template-rows:  repeat(1,100px);
}

.header {
    background-color: black;
    color: white;
    display: flex;
}
.header p{
   align-self: flex-end;
}

.grid2{
    display: grid;
    grid-template-columns: 200px 400px;
    grid-template-rows:  repeat(2,400px);
    margin-top: 10px;
    column-gap: 10px;
    row-gap: 10px;
}

.content {
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 3;
    color: black;
    display: flex;
}

.content p{
    display: inline-block;
    align-self: flex-start;
    font-size: 180px;
}

.nav{
    background-color: red;
    grid-column-start: 3;
    grid-column-end: 5;
}

.content2 {
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 5;
    color: black;
    display: flex;
}

.content2 p {
    display: inline-block;
    font-size: 160px;
}

.footer {
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 5;
    color: white;
    display: flex;
}

.footer p {
    margin-left: 20px;
    font-size: 50px;
}