.father {
    display: flex;
    /* Main Axis */
    justify-content: space-around;
    height: 100vh; 
}
 /* child에게 속성을 주고싶으면 부모에게 height를 줘야 작동함  */

.child {
    width: 200px;
    height: 200px;
    background: peru;
    color: white;
}

.child:nth-child(2){
    background: #000;
    /* flex-grow: 0 --> default */
    /* flex-grow 빈공간 포함 공간을 차지할 수 있는 만큼 커진다 */
    /* 2/3 만큼 */
    flex-grow: 2;
}

/* 1/3 만큼가져감 */
.child:nth-child(3){
    flex-grow: 1;
}

